* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

aside {
    flex-direction: column;
}

.add-popup {
    display: none;
}

.todopoup {
    display: none;
}

.hometoday {
    display: none;
}

.homeupcoming {
    display: none;
}

.addtaskproject{
    display: none;
}

.projectmain {
    display: none;
}

.addtask {
    display: none;
}
/* .task-popup {
    display: none;
} */

/* .homemain {
    display: none
}

.todopoup {
    display: none;
}

/* .todo-popup {
    display: none;
}

.main-home {
    display: none;
}

.todo-form {
    display: none;
}
.main-tody {
    display: none;
} */